{% extends "base.html" %}

{% block title %}Neural Noy{% endblock %}

{% block content %}
<div class="cta-section text-center py-5 cta-custom-bg">
    <div class="container">
        <h2>Ready to Transform Your Financial Institution with AI?</h2>
        <p class="lead">Discover how our cutting-edge AI solutions can optimize your business and manage risks more effectively.</p>
        <a href="{% url 'contact' %}" class="btn btn-light btn-lg mt-3">Get in Touch</a>
    </div>
</div>
{% endblock %}

